<div class="create-post">
  <div class="row">
    <div class="col-md-7 col-sm-7">
      <div class="form-group">
        <img
          src="../../../assets/images/users/user-1.jpg"
          alt=""
          class="profile-photo-md"
        />
        <textarea
          name="texts"
          id="exampleTextarea"
          cols="30"
          style="width: 300px; "
          rows="1"
          class="form-control"
          placeholder="Write what you wish"
        ></textarea>
      </div>
    </div>
    <div
      class="col-md-5 col-sm-5"
      style="display: flex; justify-content: flex-end;"
    >
      <div class="tools">
        <ul class="publishing-tools list-inline">
          <!-- <li>
            <a href="#"><i class="ion-compose"></i></a>
          </li> -->
          <li>
            <a href="#"
              ><i
                class="ion-images"
                tooltip="Add Images"
                placement="top"
                show-delay="300"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i
                class="ion-ios-videocam"
                tooltip="Add Videos"
                placement="top"
                show-delay="300"
              ></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i
                class="ion-map"
                tooltip="Add Location"
                placement="top"
                show-delay="300"
              ></i
            ></a>
          </li>
        </ul>
        <button class="btn btn-primary pull-right">Publish</button>
      </div>
    </div>
  </div>
</div>
