<div class="container">
  <!-- Timeline
    ================================================= -->
  <div class="timeline">
    <div class="timeline-cover">
      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img
                src="../../../assets/images/users/user-1.jpg"
                alt=""
                class="img-responsive profile-photo"
              />

              <!-- <i
                class="fa fa-pencil"
                aria-hidden="true"
                style="font-size: 36px; color: black; position: relative; top: -50px; border-radius: 50%; border: 2px black solid; padding: 10px;"
              ></i> -->
              <a routerLink="/feed"><h3>Sarah Cruiz</h3></a>
              <p class="text-muted">Creative Director</p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li>
                <a (click)="showPosts()">Timeline</a>
              </li>
              <li><a (click)="showAbout()">About</a></li>
              <li><a (click)="showAlbum()">Album</a></li>
              <li><a (click)="showFriends()">Friends</a></li>
              <li><a routerLink="/feed">Back to Feed</a></li>
            </ul>
            <ul class="follow-me list-inline">
              <li>1,299 people following her</li>
              <li><button class="btn-primary">Add Friend</button></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Timeline Menu for Large Screens End-->

      <!--Timeline Menu for Small Screens-->
      <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
          <img
            src="../../../assets/images/users/user-1.jpg"
            alt=""
            class="img-responsive profile-photo"
          />
          <h4>Sarah Cruiz</h4>
          <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
          <ul class="list-inline">
            <li><a (click)="showPosts()">Timeline</a></li>
            <li><a (click)="showAbout()">About</a></li>
            <li><a (click)="showAlbum()">Album</a></li>
            <li><a (click)="showFriends()">Friends</a></li>
            <li><a routerLink="/feed">Back to Feed</a></li>
          </ul>
          <button class="btn-primary">Add Friend</button>
        </div>
      </div>
      <!--Timeline Menu for Small Screens End-->
    </div>
    <app-timeline-posts *ngIf="posts"></app-timeline-posts>
    <app-about *ngIf="about"></app-about>
    <app-album *ngIf="album"></app-album>
    <app-timeline-friends *ngIf="friends"></app-timeline-friends>
  </div>
</div>
